.me-auto{
    font-size:20px;
    font-weight: bold;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    padding: 15px;
}
.link
{
   display: flex;
   text-align: center;
    justify-content:center;
    text-decoration: none;
    width:max-content;
    color:white;
    padding-left: 50px;
}

.Brand{
    text-decoration: none;
}
.logo{
    text-decoration: none;
    color:white;
    font-weight: bolder;
    margin-left:30px;
    font-size:30px
}
a:hover{
    color: white;
}
