.preloader {
    background: #000 url('../assets/loading.gif') no-repeat;
    background-size: 15%;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 500;
  }