
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.searchBus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
}

.searchBus {
  background-color: #C3C1C1;
  background-size: 100%;


}

.option {
  text-align: center;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
}

.select2,
.select1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.button {
  text-align: center;
  padding: 30px;

}

.dropdown-container {
  width: 60%;
}

h2 {
  font-family: 'Playfair Display';
  color: #000000;
  font-weight: bolder;
}

.time {
  text-align: center;

}

.btnn{
  width: 32%;
}

.time_heading {
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: whitesmoke;
}

.time_details::-webkit-scrollbar {
  display: none;
}

.time_details {
  margin-top: 5%;
  width: 40%;
  min-height: 200px;
  max-height: 60vh;
  height: fit-content;
  overflow-y: scroll;
}

.table,.time_details,.time_heading {
  text-align: center;
  border: #000000 1px;
  border-radius: 10px;
  background-color: #C3C1C1;
}
.card{
  /* margin-top: 5%; */
  width: 605px;
}

@media only screen and (max-width: 600px) {
  .searchBus{
    height: 100vh;
  }
  .row{
    margin-top:-50px ;
  }
  h2{
    font-size: 18px;
  }
  .loding {
    text-align: center;
  }
  .card{
    width: fit-content;
  }
  .option{
    text-align: center;
    width:auto;
    max-width: 280px;
    min-width: 200px;
  }
  .css-1s2u09g-control{
    width: 280px !important;
  }
  .button{
    padding: 0;
  }
  .time_details {
    width: 100%;
    min-height: 300px;
    max-height: 100vh;
    height: max-content;
    overflow-y: scroll;
  }
}