.select1,.searchBus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px; 
  background: transparent;
}
  .searchBus{ 
  background-image: url("https://t3.ftcdn.net/jpg/03/14/47/00/240_F_314470040_TkQqYTlfcvk3I3VGIZSOwzI5B1yIla25.jpg");
  background-size: 100%;
  

}
.select2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  }
.type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  }
.button{
  text-align: center;
  padding: 30px;
  
}
.dropdown-container{
  width:60%;
}
h2{
  font-family:monospace;
  color: #000000;
  font-weight: bolder;
}
.time{
  text-align: center;
 
}

.btnn{
  width: 32%;
  margin-left: 32%;
}
.time_heading{
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: whitesmoke;
}
.time_details::-webkit-scrollbar {
  display: none;
}
.time_details{
  width: 40%;
  min-height: 200px;
  max-height:50vh;
  height: fit-content;
  overflow-y: scroll;
}

.table{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .loding{
    text-align: center;
  }
  .time_details{
    width: 100%;
    min-height: 200px;
    max-height:50vh;
    height: fit-content;
    overflow-y: scroll;
  }
}